<div class="card">
  <div class="card-header">
    CHAT - Proyecto #{{this.id}} ({{this.tituloPrd}})
  </div>
  <div class="card-body" #chatBody>
    <div *ngFor="let message of chatMessages" class="msmcontent" >
      <div style="overflow: hidden;" [ngClass]="{'current-user-message': message.senderUid === currentUserUid, 'other-user-message': message.senderUid !== currentUserUid}">
      {{ message.message }}
      <br />
      <span class="smstime" style="float: right;"><strong>{{ message.sendersName }}.</strong> {{ message.formattedTimestamp }}</span>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="input-group mb-3">
      <textarea class="form-control" style="resize: none;" rows="2" wrap="hard" [(ngModel)]="newMessage" placeholder="Escribe un mensaje" aria-label="Escribe un mensaje" aria-describedby="button-addon2" (keydown.enter)="sendMessage()">
      </textarea>
      <button class="btn btn-outline-secondary" (click)="sendMessage()" type="button" id="button-addon2">Enviar</button>
      <!-- <img style="padding-top: 7px; cursor: pointer;" src="assets/img/avion-de-papel.png" (click)="sendMessage()" width="25" height="28" alt="Enviar"> -->
    </div>
  </div>
</div>