<h3>Configuración de datos maestros</h3>
<div class="container">
  <div class="row">
    <div class="col-lg-6 grid-item" (click)="irAModulo('user')">
      <h5>Usuarios</h5>
    </div>
    <div class="col-lg-3 grid-item" (click)="irAModulo('modulo2')">
      <h5>Paises</h5>
    </div>
    <div class="col-lg-3 grid-item" (click)="irAModulo('modulo3')">
      <h5>Ciudades</h5>
    </div>
    <div class="col-lg-9 grid-item" (click)="irAModulo('modulo4')">
      <h5>Moneda</h5>
    </div>
    <div class="col-lg-3 grid-item" (click)="irAModulo('modulo5')">
        <h5>Moneda</h5>
    </div>
    <!-- Agrega más elementos según tus necesidades -->
  </div>
</div>