<div class="card">
    <div class="card-header">
      Hola
    </div>
    <div class="card-body">
      <h5 class="card-title">¡Bienvenido a ThesisHub!</h5>
      <p class="card-text">
        Somos tu centro de gestión de tesis en línea, diseñado para simplificar y agilizar todo el proceso de desarrollo de tu tesis académica. Con ThesisHub, podrás gestionar de manera eficiente cada aspecto de tu proyecto de tesis, desde la planificación inicial hasta la presentación final.<br/><br/>
        Nuestra plataforma te ofrece un conjunto completo de herramientas y funcionalidades intuitivas para ayudarte a organizar tus ideas, colaborar con tu equipo de supervisores y realizar un seguimiento preciso de los hitos y tareas clave. Podrás mantener todos tus documentos, recursos y notas en un solo lugar centralizado, lo que te permitirá acceder a ellos fácilmente en cualquier momento y desde cualquier dispositivo.</p>
      <a href="#" class="btn btn-primary">Ver Dashboard</a>
    </div>
    <button (click)="onClick()" class="btn btn-outline-danger mt-5">Logout</button>
  </div>
