<div class="row">

    <div *ngIf="this.panelUsr" class="col-sm-3 col-md-3 col-lg-3 col-xl-3" style="margin-right: 0px; padding-right: 0px;">
        
        <div class="card" style="margin-right: 0px; padding-right: 0px;">
            <div class="card-header-2">
                CONVERSACIONES
            </div>
            <div class="card-body" style="list-style: none; padding-left: 0px; padding-right: 0px; background-color: white;">
                <ul style="list-style: none; padding-left: 0px;">
                    
                    <li *ngFor="let document of this.usuariosConMensajes">
                        <!-- <div class="alert alert-warning" role="alert" (click)="viewchat()" style="cursor: pointer;">
                            <strong>{{ document.name }} {{ document.lastname }}</strong>
                        </div> -->
                        <div class="d-grid gap-2 mb-1">
                            <button type="button" class="btn btn-light text-start" (click)="viewchat(document.uid)">{{ document.name }} {{ document.lastname }}</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6" [ngClass]="{'marginPadding':this.panelUsr !== false, '': this.panelUsr === false}">
        <div class="card" [ngClass]="{'marginPadding':this.panelUsr !== false, '': this.panelUsr === false}">
            <div class="card-header">
              CHAT - {{this.tituloPrd}}
            </div>
            <div class="card-body" #chatBody>
              <div *ngFor="let message of chatMessages" class="msmcontent" >
                <div style="overflow: hidden;" [ngClass]="{'current-user-message': message.senderUid === currentUserUid, 'other-user-message': message.senderUid !== currentUserUid}">
                {{ message.message }}
                <br />
                <span class="smstime" style="float: right;"><strong>{{ message.sendersName }}.</strong> {{ message.formattedTimestamp }}</span>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="input-group mb-3">
                <textarea class="form-control" style="resize: none;" rows="2" wrap="hard" [(ngModel)]="newMessage" placeholder="Escribe un mensaje" aria-label="Escribe un mensaje" aria-describedby="button-addon2" (keydown.enter)="sendMessage()">
                </textarea>
                <button class="btn btn-outline-secondary" (click)="sendMessage()" type="button" id="button-addon2">Enviar</button>
                <!-- <img style="padding-top: 7px; cursor: pointer;" src="assets/img/avion-de-papel.png" (click)="sendMessage()" width="25" height="28" alt="Enviar"> -->
              </div>
            </div>
          </div>
    </div>
    
</div>

