
<!-- Vista de solo lectura  -->
<div class="register-container" *ngIf="mostrarViewForm">

  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div><h3 style="font-size: 22px; font-weight: bold;">DATOS DEL PROYECTO</h3></div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="close-icon">
        <i class="fas fa-times" (click)="closeview()"></i>
      </div>
    </div>
  </div>

  <div><h3 style="font-size: 22px; font-weight: bold;"></h3></div>
  <div class="form-group">
    <label style="font-weight: bold;" for="titulo">Titulo *</label>
    <p class="form-control-static">{{project.titulo}}</p>
  </div>
   <div>
    <label style="font-weight: bold;" for="bibliografia">Bibliografía *</label>
    <p class="form-control-static">{{project.bibliografia}}</p>
  </div>
   <div class="form-group">
    <label style="font-weight: bold;" for="carrera">Carrera *</label>
    <p class="form-control-static">{{project.carrera}}</p>
  </div>
   <div class="form-group">
    <label style="font-weight: bold;" for="especialidad">Especialidad</label>
    <p class="form-control-static">{{project.especialidad}}</p>
  </div>
   <div class="form-group">
    <label style="font-weight: bold;" for="tema">Tema</label>
    <p class="form-control-static">{{project.tema}}</p>
  </div>
   <div class="form-group">
    <label style="font-weight: bold;" for="universidad">Universidad</label>
    <p class="form-control-static">{{project.universidad}}</p>
  </div>
   <div class="form-group">
    <label style="font-weight: bold;" for="numero_paginas">Número de páginas</label>
    <p class="form-control-static">{{project.numero_paginas}}</p>
  </div>
   <div class="form-group">
    <label style="font-weight: bold;" for="entregas">Número de entregas</label>
    <p class="form-control-static">{{project.entregas}}</p>
  </div>
   <div class="form-group">
    <label style="font-weight: bold;" for="descripcion">Descripcion</label>
    <p class="form-control-static">{{project.descripcion}}</p>
  </div>
   <div class="form-group">
    <label style="font-weight: bold;">Fecha de inicio</label>
    <p class="form-control-static">{{ formatDate(timestampConvert(project.fecha_inicio)) }}</p>
  </div>
   <div class="form-group">
    <label style="font-weight: bold;">Fecha de entrega</label>
    <p class="form-control-static">{{ formatDate(timestampConvert(project.fecha_entrega)) }}</p>
  </div>
   <div class="form-group">
    <label style="font-weight: bold;" for="presupuesto">Presupuesto</label>
    <p class="form-control-static">{{project.presupuesto}}</p>
  </div>
   <div class="form-group">
    <label style="font-weight: bold;" for="monto_recibido">Monto recibido</label>
    <p class="form-control-static">{{project.monto_recibido}}</p>
  </div>
   <div class="form-group">
    <label style="font-weight: bold;" for="porcentaje_a_realizar">Porcentaje a realizar</label>
    <p class="form-control-static">{{project.porcentaje_a_realizar}}</p>
  </div>
   <div class="form-group">
    <label style="font-weight: bold;">Fecha de ultima entrega</label>
    <p class="form-control-static">{{ formatDate(timestampConvert(project.ultima_entrega)) }}</p>
  </div>
   <div class="form-group">
    <label style="font-weight: bold;">Fecha proxima entrega</label>
    <p class="form-control-static">{{ formatDate(timestampConvert(project.fecha_proxima)) }}</p>
  </div>
   <div class="form-group">
    <label style="font-weight: bold;" for="factura">Factura</label>
    <p class="form-control-static">{{project.factura}}</p>
  </div>
</div>
<!-- Vista de solo lectura  -->



  <!-- Formulario de Usuarios -->
  <div *ngIf="mostrarForm">

    <div class="register-container">

      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div><h3 style="font-size: 22px; font-weight: bold;">{{strtitle}}</h3></div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div class="close-icon">
            <i class="fas fa-times" (click)="closeview()"></i>
          </div>
        </div>
      </div>

      <div>
        <form #projectForm="ngForm">
          <div class="form-group">
            <label for="titulo">Titulo *</label>
            <input
              type="text"
              class="form-control"
              id="titulo"
              required
              [(ngModel)]="project.titulo"
              name="titulo"
              #nameField="ngModel"
            />
            <div *ngIf="nameField.invalid && (nameField.dirty || nameField.touched)" class="text-danger">
              El título es requerido.
            </div>
          </div>

          <div>
              <label for="bibliografia">Bibliografía *</label>
              <select 
                class="form-control"
                id="bibliografia"
                required
                [(ngModel)]="project.bibliografia" 
                name="selectedOption"
                >
                <option value="" disabled selected>Seleccionar opción</option>
                <option *ngFor="let items of options" [value]="items">{{ items }}</option>
              </select>
              <!-- <div *ngIf="project.bibliografia === 'other'">
                <input class="form-control mt-2" name="customOption" [(ngModel)]="customOption" placeholder="Escribe una opción personalizada">
              </div> -->
          </div>


          <div class="form-group">
            <label for="carrera">Carrera *</label>
            <input
              class="form-control"
              id="carrera"
              required
              [(ngModel)]="project.carrera"
              name="carrera"
            />
            <div *ngIf="nameField.invalid && (nameField.dirty || nameField.touched)" class="text-danger">
              Se requiere una Contraseña
            </div>
          </div>

          <div class="form-group">
            <label for="especialidad">Especialidad</label>
            <input
              class="form-control"
              id="especialidad"
              required
              [(ngModel)]="project.especialidad"
              name="especialidad"
            />
          </div>

          <div class="form-group">
            <label for="tema">Tema</label>
            <input
              class="form-control"
              id="tema"
              required
              [(ngModel)]="project.tema"
              name="tema"
            />
          </div>

          <div class="form-group">
            <label for="universidad">Universidad</label>
            <input
              class="form-control"
              id="universidad"
              [(ngModel)]="project.universidad"
              name="universidad"
            />
          </div>

          <div class="form-group">
            <label for="numero_paginas">Número de páginas</label>
            <input
              class="form-control"
              type="number"
              id="numero_paginas"
              [(ngModel)]="project.numero_paginas"
              name="numero_paginas"
            />
          </div>

          <div class="form-group">
            <label for="entregas">Número de entregas</label>
            <input
              class="form-control"
              type="number"
              id="entregas"
              [(ngModel)]="project.entregas"
              name="entregas"
            />
          </div>

          <div class="form-group">
            <label for="descripcion">Descripcion</label>
            <input
              class="form-control"
              id="descripcion"
              [(ngModel)]="project.descripcion"
              name="descripcion"
            />
          </div>

          <div class="form-group">
            <mat-form-field appearance="outline" >
                <mat-label>Fecha de inicio</mat-label>
                <input 
                    matInput 
                    [matDatepicker]="picker" 
                    placeholder="Seleccionar fecha"
                    class="form-control"
                    id="fecha_inicio"
                    [(ngModel)]="project.fecha_inicio"
                    name="fecha_inicio"
                >
                <mat-hint>dd/mm/yyyy</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field appearance="outline" >
                <mat-label>Fecha de entrega</mat-label>
                <input 
                    matInput 
                    [matDatepicker]="picker2" 
                    placeholder="Seleccionar fecha"
                    class="form-control"
                    id="fecha_entrega"
                    [(ngModel)]="project.fecha_entrega"
                    name="fecha_entrega"
                >
                <mat-hint>dd/mm/yyyy</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="form-group">
            <label for="presupuesto">Presupuesto</label>
            <input
              class="form-control"
              type="number"
              id="presupuesto"
              [(ngModel)]="project.presupuesto"
              name="presupuesto"
            />
          </div>

          <div class="form-group">
            <label for="monto_recibido">Monto recibido</label>
            <input
              class="form-control"
              type="number"
              id="monto_recibido"
              [(ngModel)]="project.monto_recibido"
              name="monto_recibido"
            />
          </div>

          <div class="form-group">
            <label for="porcentaje_a_realizar">Porcentaje a realizar</label>
            <input
              class="form-control"
              type="number"
              id="porcentaje_a_realizar"
              [(ngModel)]="project.porcentaje_a_realizar"
              name="porcentaje_a_realizar"
            />
          </div>

          <div class="form-group">
            <mat-form-field appearance="outline" >
                <mat-label>Fecha de ultima entrega</mat-label>
                <input 
                    matInput 
                    [matDatepicker]="picker3" 
                    placeholder="Seleccionar fecha"
                    class="form-control"
                    id="ultima_entrega"
                    [(ngModel)]="project.ultima_entrega"
                    name="ultima_entrega"
                >
                <mat-hint>dd/mm/yyyy</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field appearance="outline" >
                <mat-label>Fecha proxima entrega</mat-label>
                <input 
                    matInput 
                    [matDatepicker]="picker4" 
                    placeholder="Seleccionar fecha"
                    class="form-control"
                    id="fecha_proxima"
                    [(ngModel)]="project.fecha_proxima"
                    name="fecha_proxima"
                >
                <mat-hint>dd/mm/yyyy</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker4"></mat-datepicker-toggle>
                <mat-datepicker #picker4></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="form-group">
            <label for="factura">Factura</label>
            <input
              class="form-control"
              id="factura"
              [(ngModel)]="project.factura"
              name="factura"
            />
          </div>
      
          <button (click)="saveProject()" type="submit" [disabled]="!projectForm.form.valid" class="btn2">Enviar</button>
        </form>
      </div>
      <br/><br/>
    </div>
  </div>
  


  <!-- Lita - Mat datatable -->
  <div style="width: 100%; margin-left: 10px; padding-right: 10px; padding-top:5px; padding-bottom: 50px;">
    <div class="row panel-addh" style="text-align:right;"> 	
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6" style="text-align:left;">
      
        <!-- barra para mostrar o ocultar fila -->
        <div style="margin: 10px;">
          <div class="row panel-add">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" (click)="moForm()">
              <span style="text-decoration: none;color: #dc3545;" *ngIf="!this.mostrarForm" class="btn btn-link"><i class="fa fa-solid fa-circle-plus"></i> Agregar</span>
              <span style="text-decoration: none;color: #dc3545;" *ngIf="this.mostrarForm" class="btn btn-link"><i class="fa fa-solid fa-circle-minus"></i> </span> 
            </div>
          </div>
        </div>
      
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6" style="text-align:left;">
        <div class="form-group" style="padding-top: 3px;">
          <input
            matInput (keyup)="applyFilter($event)" 
            placeholder="Buscar" 
            #input
            class="form-control"
            style="border-color:#dc3545;border-width: 1px;"
          />
        </div>
      </div>
    </div>


    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-hover mat-table" matSort class="table">
            <!-- project_id Column -->
			<ng-container matColumnDef="project_id">
				<th *matHeaderCellDef mat-sort-header class="mat-header-row" style="text-align: left;">ID </th>
				<td mat-cell *matCellDef="let element" class="mat-cell">{{element.project_id}} </td>
			</ng-container>
		
			<!-- titulo Column -->
			<ng-container matColumnDef="titulo">
				<th *matHeaderCellDef mat-sort-header class="mat-header-row" style="text-align: left;"> TITULO </th>
				<td style="cursor: pointer; text-decoration:underline;" (click)="viewRecod(element)" mat-cell *matCellDef="let element" class="mat-cell"> {{element.titulo}} </td>
			</ng-container>

             <!-- entregas Column -->
			<ng-container matColumnDef="entregas">
				<th *matHeaderCellDef mat-sort-header class="mat-header-row" style="text-align: left;"> ENTREGAS </th>
				<td mat-cell *matCellDef="let element" class="mat-cell"> {{element.entregas}} </td>
			</ng-container>

            <!-- fecha_inicio Column -->
			<ng-container matColumnDef="fecha_inicio">
				<th *matHeaderCellDef mat-sort-header class="mat-header-row" style="text-align: left;"> INICIO </th>
				<td mat-cell *matCellDef="let element" class="mat-cell"> {{convertirFecha(element.fecha_inicio) | date: 'dd/MM/yyyy'}} </td>
			</ng-container>

            <!-- fecha_entrega Column -->
			<ng-container matColumnDef="fecha_entrega">
				<th *matHeaderCellDef mat-sort-header class="mat-header-row" style="text-align: left;"> ENTREGA </th>
				<td mat-cell *matCellDef="let element" class="mat-cell"> {{convertirFecha(element.fecha_entrega) | date: 'dd/MM/yyyy'}} </td>
			</ng-container>

            <!-- presupuesto Column -->
			<ng-container matColumnDef="presupuesto">
				<th *matHeaderCellDef mat-sort-header class="mat-header-row" style="text-align: left;"> PRESUPUESTO </th>
				<td mat-cell *matCellDef="let element" class="mat-cell"> {{element.presupuesto}} </td>
			</ng-container>

            <!-- monto_recibido Column -->
			<ng-container matColumnDef="monto_recibido">
				<th *matHeaderCellDef mat-sort-header class="mat-header-row" style="text-align: left;"> RECIBIDO $ </th>
				<td mat-cell *matCellDef="let element" class="mat-cell"> {{element.monto_recibido}} </td>
			</ng-container>

            <!-- porcentaje_a_realizar Column -->
			<ng-container matColumnDef="porcentaje_a_realizar">
				<th *matHeaderCellDef mat-sort-header class="mat-header-row" style="text-align: left;"> PORCENTAJE</th>
				<td mat-cell *matCellDef="let element" class="mat-cell"> {{element.porcentaje_a_realizar}} </td>
			</ng-container>

            <!-- state Column -->
			<ng-container matColumnDef="state">
				<th *matHeaderCellDef mat-sort-header class="mat-header-row" style="text-align: left;"> ESTADO </th>
				<td mat-cell *matCellDef="let element" class="mat-cell"> {{element.state}} </td>
			</ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			
			<!-- Row shown when there is no matching data. -->
			<tr class="mat-row" *matNoDataRow>
				<td class="mat-cell" colspan="9" style="text-align: left;">No hay datos que coincidan con la busqueda</td>
			</tr>
	
			<!-- Symbol Column -->
			<ng-container matColumnDef="Opc">
				<th *matHeaderCellDef class="mat-header-row">OPC</th>
				<td mat-cell *matCellDef="let element index as i">
					<button class="btn btn-light btn-sm" (click)="editProject(element)" data-toggle="tooltip" data-placement="top" title="Editar elemento">
                        <i class="fa-solid fa-pen" data-toggle="tooltip" data-placement="top" title="Editar elemento"></i>
                    </button>
					<button class="btn btn-light btn-sm" (click)="removeUsr(element.uid)" style="color: red;"  data-toggle="tooltip" data-placement="top" title="Eliminar elemento">
					    <i class="far fa-trash-alt"  data-toggle="tooltip" data-placement="top" title="Eliminar elemento"></i>
					</button>
				</td>
			</ng-container>

    </table>
    <mat-paginator #paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons>
      [intl]="customPaginatorIntl"
    </mat-paginator>
  </div>
