<!-- Vista de solo lectura  -->
<div class="register-container bg-light p-4 rounded">
    <div class="row">
      <div class="col-12">
        <h3 class="text-center fw-bold">PERFIL DEL USUARIO</h3>
      </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="image-container d-flex justify-content-center align-items-center border rounded-circle mx-auto mb-3" style="width: 150px; height: 150px;">
              <p class="m-0">Sin Imagen</p>
            </div>
          </div>
      <div class="col-md-7">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th style="font-weight: bold;">Nombre</th>
              <td>{{user.name}} {{user.lastname}}</td>
            </tr>
            <tr>
              <th style="font-weight: bold;">Email</th>
              <td>{{user.email}}</td>
            </tr>
            <tr>
              <th style="font-weight: bold;">Contraseña</th>
              <td>******</td>
            </tr>
            <tr>
              <th style="font-weight: bold;">Número de Teléfono</th>
              <td>{{user.tlf}}</td>
            </tr>
            <tr>
              <th style="font-weight: bold;">Número de WhatsApp</th>
              <td>{{user.wapp}}</td>
            </tr>
            <tr>
              <th style="font-weight: bold;">País</th>
              <td>{{user.country}}</td>
            </tr>
            <tr>
              <th style="font-weight: bold;">Ciudad</th>
              <td>{{user.city}}</td>
            </tr>
            <tr>
              <th style="font-weight: bold;">Dirección</th>
              <td>{{user.address}}</td>
            </tr>
            <tr>
              <th style="font-weight: bold;">Tipo de Usuario</th>
              <td>{{user.user_type}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<!-- Vista de solo lectura  -->
