<div class="register-container bg-light rounded p-3">
  <h1>Página principal</h1>

    <p style=" text-align: justify;">
        ¡Bienvenido a <b>TesisHub</b>, nuestra aplicación de gestión de proyectos! Aquí podrás realizar todas las tareas necesarias para llevar a cabo tus proyectos de manera eficiente. Podrás agregar, modificar y eliminar proyectos según tus necesidades. Además, tendrás la posibilidad de asignar proyectos a usuarios específicos, lo que facilitará la colaboración y el seguimiento del progreso. 
        <br/><br/>
    Nuestra aplicación también cuenta con funciones avanzadas de seguridad. Los administradores tendrán acceso a datos sensibles y podrán gestionar la información y los datos maestros de manera segura. Nos aseguramos de que tus datos estén protegidos y de que tengas el control total sobre ellos. 
    </p>
    <!-- <button (click)="onClick(1)" class="btn btn-outline-danger mt-5">Logout</button>
    <button (click)="onClick(1)" class="btn btn-outline-danger mt-5">Login</button> -->
</div>
